.layout-content {
  height: 100%;
}

.layout-footer {
  text-align: center;
}

.layout-header {
  width: 100%;
  color: beige;
}

.layout-header-title {
  color: beige;
  margin-left: 20px;
  font-size: 20px;
}
